
body {
    background-image: url("images/dots-bg.png");
    background-repeat: repeat;
    background-size: 100%;
    background-position: 50% 50%;
    margin: 40px;
}

.ag-header-cell .ag-cell-label-container {
    text-align: center;
}