
body {
    background-image: url("images/dots-bg.png");
    background-repeat: repeat;
    background-size: 100%;
    background-position: 50% 50%;
    margin: 40px;
}

.the-grid {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: black;
}

.ag-theme-material .ag-row {
    border-bottom: 1px solid #979797;

}

.ag-theme-material .ag-cell {
    border-left: 1px solid #979797;
}

.ag-pinned-left-cols-viewport-wrapper {
    box-shadow: 0 7px 5px 5px #AFAFAF;
}
.ag-header-viewport .ag-header-cell {
    text-align: center;
}

.active-month-header-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
}

.active-month-dot {
    color: black;
    font-weight: bolder;
    line-height: 0;
    font-family: Roboto;
    font-size: 40px;
}  
